- if obj.errors.any?
  .alert.alert-danger.alert-dismissable
    %i.fa.fa-ban
    %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
    %b #{pluralize(obj.errors.count, "error")} prohibited this item from being saved!
    %ul
      - obj.errors.full_messages.each do |msg|
        %li= msg