%ul.sidebar-menu
  %li.active
    = link_to root_path do
      %i.fa.fa-dashboard
      %span Dashboard
  %li
    = link_to items_path do
      %i.fa.fa-square
      %span Items
      %i.fa.pull-right
  %li
    = link_to customers_path do
      %i.fa.fa-square
      %span Customers
      %i.fa.pull-right      