%ul.sidebar-menu
  %li.active
    %a{:href => "index.html"}
      %i.fa.fa-dashboard
      %span Dashboard
  %li
    %a{:href => "pages/widgets.html"}
      %i.fa.fa-th
      %span Widgets
      %small.badge.pull-right.bg-green new
  %li.treeview
    %a{:href => "#"}
      %i.fa.fa-bar-chart-o
      %span Charts
      %i.fa.fa-angle-left.pull-right
    %ul.treeview-menu
      %li
        %a{:href => "pages/charts/morris.html"}
          %i.fa.fa-angle-double-right
          Morris
      %li
        %a{:href => "pages/charts/flot.html"}
          %i.fa.fa-angle-double-right
          Flot
      %li
        %a{:href => "pages/charts/inline.html"}
          %i.fa.fa-angle-double-right
          Inline charts
  %li.treeview
    %a{:href => "#"}
      %i.fa.fa-laptop
      %span UI Elements
      %i.fa.fa-angle-left.pull-right
    %ul.treeview-menu
      %li
        %a{:href => "pages/UI/general.html"}
          %i.fa.fa-angle-double-right
          General
      %li
        %a{:href => "pages/UI/icons.html"}
          %i.fa.fa-angle-double-right
          Icons
      %li
        %a{:href => "pages/UI/buttons.html"}
          %i.fa.fa-angle-double-right
          Buttons
      %li
        %a{:href => "pages/UI/sliders.html"}
          %i.fa.fa-angle-double-right
          Sliders
      %li
        %a{:href => "pages/UI/timeline.html"}
          %i.fa.fa-angle-double-right
          Timeline
  %li.treeview
    %a{:href => "#"}
      %i.fa.fa-edit
      %span Forms
      %i.fa.fa-angle-left.pull-right
    %ul.treeview-menu
      %li
        %a{:href => "pages/forms/general.html"}
          %i.fa.fa-angle-double-right
          General Elements
      %li
        %a{:href => "pages/forms/advanced.html"}
          %i.fa.fa-angle-double-right
          Advanced Elements
      %li
        %a{:href => "pages/forms/editors.html"}
          %i.fa.fa-angle-double-right
          Editors
  %li.treeview
    %a{:href => "#"}
      %i.fa.fa-table
      %span Tables
      %i.fa.fa-angle-left.pull-right
    %ul.treeview-menu
      %li
        %a{:href => "pages/tables/simple.html"}
          %i.fa.fa-angle-double-right
          Simple tables
      %li
        %a{:href => "pages/tables/data.html"}
          %i.fa.fa-angle-double-right
          Data tables
  %li
    %a{:href => "pages/calendar.html"}
      %i.fa.fa-calendar
      %span Calendar
      %small.badge.pull-right.bg-red 3
  %li
    %a{:href => "pages/mailbox.html"}
      %i.fa.fa-envelope
      %span Mailbox
      %small.badge.pull-right.bg-yellow 12
  %li.treeview
    %a{:href => "#"}
      %i.fa.fa-folder
      %span Examples
      %i.fa.fa-angle-left.pull-right
    %ul.treeview-menu
      %li
        %a{:href => "pages/examples/invoice.html"}
          %i.fa.fa-angle-double-right
          Invoice
      %li
        %a{:href => "pages/examples/login.html"}
          %i.fa.fa-angle-double-right
          Login
      %li
        %a{:href => "pages/examples/register.html"}
          %i.fa.fa-angle-double-right
          Register
      %li
        %a{:href => "pages/examples/lockscreen.html"}
          %i.fa.fa-angle-double-right
          Lockscreen
      %li
        %a{:href => "pages/examples/404.html"}
          %i.fa.fa-angle-double-right
          404 Error
      %li
        %a{:href => "pages/examples/500.html"}
          %i.fa.fa-angle-double-right
          500 Error
      %li
        %a{:href => "pages/examples/blank.html"}
          %i.fa.fa-angle-double-right
          Blank Page