/ User Account: style can be found in dropdown.less
%li.dropdown.user.user-menu
  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
    %i.glyphicon.glyphicon-user
    %span
      Jane Doe
      %i.caret
  %ul.dropdown-menu
    / User image
    %li.user-header.bg-light-blue
      %img.img-circle{:alt => "User Image", :src => "assets/avatar5.png"}/
      %p
        Jane Doe - Web Developer
        %small Member since Nov. 2012
    / Menu Body
    %li.user-body
      .col-xs-4.text-center
        %a{:href => "#"} Followers
      .col-xs-4.text-center
        %a{:href => "#"} Sales
      .col-xs-4.text-center
        %a{:href => "#"} Friends
    / Menu Footer
    %li.user-footer
      .pull-left
        %a.btn.btn-default.btn-flat{:href => "#"} Profile
      .pull-right
        = link_to('Sign out', destroy_admin_session_path, method: :delete, class: "btn btn-default btn-flat")