#login-box.form-box
  .header Forgot your password?
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    .body.bg-gray
      .form-group
        = f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control"
    .footer
      = f.submit "Send me reset password instructions", class: "btn bg-olive btn-block"
      = render "admins/shared/links"